server {
    listen 80;
    listen [::]:80;

    server_name ${NGINX_PUBLIC_HOST};

    access_log /var/log/nginx/gn-access.log;
    error_log /var/log/nginx/gn-error.log;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://${NGINX_PUBLIC_HOST}$request_uri;
    }
}


server {
  listen 999;
  location /server-status {
    stub_status on;
    access_log off;
  }
}
